.Side_bar
  .Side_bar__user_name
    .Top-items
      .Top-items__name
        %p masa
      .Top-items__icons
        = icon('far', 'edit', class:"Top-items--edit")
        = icon('fas', 'cog', class:"Top-items--cog")

  .Side_bar__group-list
    .Group
      .Group__name
        techcamp
      .Group__message
        まだメッセージがありません